<div class="delete-question">
  <h1>Here is a list of your Questions</h1>

  {{#each questionsID}}

    <form
      action="/profile/{{this._id}}/delete-question"
      method="post"
      class="delete-form"
    >

      <p>
        Who won the
        <strong>{{this.competition}}</strong>
        on the season
        <strong>{{this.year}}</strong>
        between
        <strong>{{this.options}}?</strong>
        Correct answer is:
        <strong>{{this.correct}}</strong></p>

      <button class="button-delete">Delete</button>

    </form>
  {{/each}}
</div>