<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>

    <nav class="navbar">
      <a class="nav-item" href="/">Home</a>
      <a class="nav-item" href="/scoreboard">Scoreboard</a>
      {{#if user}}
        <a class="nav-item" href="/questions">Play</a>
        <a class="nav-item" href="/profile">{{user.name}}'s Profile</a>
        <form action="/authentication/sign-out" method="POST">
          <button>Sign Out</button>
        </form>
      {{else}}
        <a class="nav-item" href="/authentication/sign-in">Sign In</a>
        <a class="nav-item" href="/authentication/sign-up">Sign Up</a>
      {{/if}}
    </nav>

    {{{body}}}

    <script
      src="https://kit.fontawesome.com/14d1c590f9.js"
      crossorigin="anonymous"
    >

    </script>

    <div style="display: none" id="user-score">{{user.highScore}}</div>
    <script src="/scripts/script.js"></script>
  </body>
</html>