<div class="questions">
  <div class="question-header">
    <h1>Who was the champion of the
      {{randomQuestion.competition}}
      on the season
      {{randomQuestion.year}}?</h1>
  </div>
  <div class="badges">
    <img class="badge1" src="{{badgeImg}}" />

    <img class="badge1" src="{{badgeImg2}}" />
  </div>
  <form
    class="questions-display"
    method="POST"
    action="/questions/{{id}}/answer/"
  >

    {{#each randomQuestion.options}}
      <div class="buttons-questions">
        <input
          class="option"
          id="randomQuestionAnswer"
          type="submit"
          value="{{this}}"
          name="answer"
        />
      </div>

    {{/each}}

  </form>

</div>