<ul>
  <div>
    <h1>Who was the champion of the
      {{randomQuestion.competition}}
      on the season
      {{randomQuestion.year}}?</h1>
  </div>
  <div class="badges">
    <img style="max-width: 50px;" src="{{badgeImg}}" />

    <img style="max-width: 50px;" src="{{badgeImg2}}" />
  </div>
  <form
    class="questions-display"
    method="POST"
    action="/questions/{{id}}/answer/"
  >
    {{#each randomQuestion.options}}
      <input
        id="randomQuestionAnswer"
        type="radio"
        value="{{this}}"
        name="answer"
      />

      <label for="randomQuestionAnswer">
        {{this}}

      </label>
    {{/each}}
    <button>Submit</button>
  </form>
</ul>