<h1>ola</h1>

<ul>
  {{#each questions}}

    <div>
      {{year}}
      {{winnerTeam}}
    </div>

  {{/each}}
</ul>

{{!--

<h1>'Who won the UCL in the {{Year}}?'</h1>

<form action="/question" method="GET">
  <button>{{WinnerTeam}}</button>
  <button>{{Looser Team}}</button>
</form>>
--}}