<h1>ola</h1>

<ul>

  <div>
    <h1>Who was the champion of ULC on the season {{randomQuestion.year}}?</h1>

  </div>
  {{#if randomPosition}}
    <button>{{randomQuestion.winnerTeam}}</button>
    <button>{{randomQuestion.loserTeam}}</button>
  {{else}}
    <button>{{randomQuestion.loserTeam}}</button>
    <button>{{randomQuestion.winnerTeam}}</button>
  {{/if}}

</ul>

{{!--

<h1>'Who won the UCL in the {{Year}}?'</h1>

<form action="/question" method="GET">
  <button>{{WinnerTeam}}</button>
  <button>{{Looser Team}}</button>
</form>>
--}}